
:root {
    --color-primary: #386641;
    --color-secondary: #BC4749;
    --color-third: #8A3132;
    --color-background: #F2E8CF;
    --color-white: #ffffff;
    --color-grey: #E5E5E5;
    --color-black: #000000;
}

html, body {
    font-family: "Asap", sans-serif;
    background-color: var(--color-background);
}

body {
    margin: 0;
}

/* Content */
h1, h2, h3, h4 {
    margin: 0;
    padding-bottom: .5rem;
}


/* Content */
h1 {
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

h2 {
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
}

h3 {
    font-weight: 500;
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
}

.subtitle {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
}

p {
    font-family: 'Syne', sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.5rem;
}

p:last-child {
    padding-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
    transition: all .3s ease-in-out;
}

img {
    object-fit: cover;
    max-width: 100%;
}

figure {
    margin: 0;
}

/* Button */
.btn {
    background-color: var(--color-secondary);
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
}

.btn:hover {
    background-color: var(--color-third);
}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 9999px;
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-width: 0px;
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-icon:hover {
    background-color: var(--color-third);
    color: var(--color-white);
}

/* Container */
.container {
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}