
:root {
    --color-primary: #386641;
    --color-secondary: #6A994E;
    --color-third: #A7C957;
    --color-background: #F2E8CF;
    --color-button: #BC4749;
}

html, body {
    font-family: "asap", sans-serif;
}

/* Content */
h1 {
    
}

h2 {

}

h3 {
    
}

p {

}

/* Button */
.btn {
    
}

/* Container */
.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}