.feature {
    margin: 4rem 0;
}

.feature-layout {
    display: grid;
    gap: 1rem;
}

.feature-content {
    align-self: center;

    grid-row: 2;
}

@media (min-width: 768px) {
    .feature-layout {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-content {
        grid-row: 1;
    }
}