.feature_grid {
    padding: 7rem 0;
}

.feature_grid-layout {
    display: grid;
    gap: 2rem;
}

.feature_grid-content {
    text-align: center;
    padding-bottom: 4rem;
}

@media (min-width: 640px) {
    .feature_grid-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 640px) {
    .feature_grid-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .feature_grid-layout {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }
}