.feature {
    padding: 7rem 0;
}

.feature-layout {
    display: grid;
    gap: 4rem;
}

.feature-content {
    align-self: center;
    grid-row: 2;
}

.feature-img {   
    max-height: 36rem;
    width: 100%;
    border-radius: 10rem 0 0 0;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {
    .feature-layout {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-content {
        grid-row: 1;
    }
}