.footer {
    background-color: var(--color-black);
    color: var(--color-white);
}

.footer-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
}

.footer-logo {
    width: 250px;
    color: var(--color-white);
}

.footer-nav {
    display: grid;
    gap: 1rem;
}

.footer-list {
    list-style: none;
    display: grid;
    gap: .5rem;
    padding: 0;
    margin: 0;
}

.footer h4 {
    color: var(--color-primary);
}

@media (min-width: 768px) {
    .footer-layout {    
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
    
    .footer-logo {
        width: 250px;
        color: var(--color-white);
    }
    
    .footer-nav {
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }
    
    .footer-list {
        list-style: none;
        display: grid;
        gap: .5rem;
        padding: 0;
        margin: 0;
    }
}