.hero-header {
    background-image:url(../../img/background-shop.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 80vh;
}

.container-center {
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.flex-layout {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-header-card {
    background-color: rgba(242, 232, 207, 0.8);
    margin: 5rem 0;
    padding: 2.25rem 3rem;
    border-radius: 32px;
}